PersistenceErrorOccured=A persistence error occurred.
Previous=Previous
Next=Next

#foreach ($aClass in $current.classes)

#if ($aClass.hasStereotype("Entity"))

${aClass.name}Created=${aClass.name} was successfully created.
${aClass.name}Updated=${aClass.name} was successfully updated.
${aClass.name}Deleted=${aClass.name} was successfully deleted.
Create${aClass.name}Title=Create New ${aClass.name}
Create${aClass.name}SaveLink=Save
Create${aClass.name}ShowAllLink=Show All ${aClass.name} Items
Create${aClass.name}IndexLink=Index

Edit${aClass.name}Title=Edit ${aClass.name}
Edit${aClass.name}SaveLink=Save
Edit${aClass.name}ViewLink=View
Edit${aClass.name}ShowAllLink=Show All ${aClass.name} Items
Edit${aClass.name}IndexLink=Index

\#\# These labels are used in the Create form and in the Edit form as well.
#foreach ($aProperty in $aClass.ownedAttribute)
${aClass.name}Label_${aProperty.name}=${dialect.i2uc($aProperty.name)} :
${aClass.name}Title_street=${dialect.i2uc($aProperty.name)}
#end

View${aClass.name}Title=View
View${aClass.name}DestroyLink=Destroy
View${aClass.name}EditLink=Edit
View${aClass.name}CreateLink=Create New ${aClass.name}
View${aClass.name}ShowAllLink=Show All ${aClass.name} Items
View${aClass.name}IndexLink=Index
#foreach ($aProperty in $aClass.ownedAttribute)
View${aClass.name}Label_${aProperty.name}=${dialect.i2uc($aProperty.name)} :
View${aClass.name}Title_${aProperty.name}=${dialect.i2uc($aProperty.name)}
#end
#foreach ($aMethod in $aClass.ownedOperation)
#foreach ($aParameter in $aMethod.ownedParameter)
${aClass.name}${dialect.i2uc($aMethod.name)}Label_${aParameter.name} = ${aParameter.name} :
${aClass.name}${dialect.i2uc($aMethod.name)}Title_${aParameter.name} = ${aParameter.name}
#end
#end

List${aClass.name}Title=List
List${aClass.name}Empty=(No ${aClass.name} Items Found)
List${aClass.name}DestroyLink=Destroy
List${aClass.name}EditLink=Edit
List${aClass.name}ViewLink=View
List${aClass.name}CreateLink=Create New ${aClass.name}
List${aClass.name}IndexLink=Index
#foreach ($aProperty in $aClass.ownedAttribute)
List${aClass.name}Label_${aProperty.name}=${dialect.i2uc($aProperty.name)} :
List${aClass.name}Title_${aProperty.name}=${dialect.i2uc($aProperty.name)}
#end

#end

#end
