package titi.ete.gel.impl.factory;



import titi.ete.meta.model.core.PrimitiveDataTypes;
import titi.ete.meta.model.mofpackage.EteModel;
import static titi.ete.meta.model.mofpackage.EteModel.MODEL;
import titi.ete.meta.model.mofpackage.impl.EteModelImpl;
import static titi.ete.meta.model.types.MofType.MOF_TYPE;
import titi.ete.meta.model.types.impl.MofTypeImpl;
import titi.gel.impl.*;
import javax.annotation.Generated;
import titi.util.factory.FactoryRegistry;



@Generated("ete - jean-luc@insset.fr  modules/maven-project/gel-impl/java/gel-factory.vm")
public class GelFactory {

    public static void registerFactories() {
        FactoryRegistry registry = FactoryRegistry.getRegistry();
        registry.registerDefaultFactory(MOF_TYPE, MofTypeImpl.class);
/*
*/
    }

    public static EteModel      newModel() throws InstantiationException, IllegalAccessException {
        FactoryRegistry registry = FactoryRegistry.getRegistry();
        registry.registerDefaultFactory(MOF_TYPE, MofTypeImpl.class);
        registry.registerDefaultFactory(MODEL, EteModelImpl.class);
        EteModel result = (EteModel) FactoryRegistry.newInstance(MODEL);
        PrimitiveDataTypes.init(result);
        return result;
    }

}


