package fr.insset.jeanluc.ete.gel.impl;

import titi.impl.${projectName}Lexer;
import titi.impl.${projectName}Parser;
import javax.annotation.Generated;
import org.antlr.v4.runtime.ANTLRInputStream;
import org.antlr.v4.runtime.CommonTokenStream;

/**
 *
 * @author jldeleage
 */
@Generated("ete - jean-luc@insset.fr  modules/maven-project/gel-impl/java/parser-wrapper.vm")
public class GelParserFactory {
    
    public static ${projectName}Parser newParser(String inExpression) {
        ${projectName}Lexer lexer = null;
        ANTLRInputStream input = new ANTLRInputStream(inExpression);
        lexer = new ${projectName}Lexer(input);
        CommonTokenStream commonTokenStream = new CommonTokenStream(lexer);
        GelParser parser = new GelParser(commonTokenStream);
        return parser;
    }

}


