

package ${current.owningPackage};



import java.io.Serializable;
import java.util.LinkedList;
import java.util.List;
import javax.persistence.Entity;
import javax.persistence.GeneratedValue;
import javax.persistence.GenerationType;
import javax.persistence.Id;
import javax.persistence.ManyToMany;
import javax.persistence.ManyToOne;
import javax.persistence.OneToMany;
import javax.xml.bind.annotation.XmlRootElement;

/**
 *
 * @author jldeleage
 */
public enum ${current.name} {


    //========================================================================//

#foreach ($aLiteral in $current.literal)
    ${aLiteral.value}#if($foreach.hasNext),
#end
#end;

    //========================================================================//


#foreach ($aMethod in $current.ownedOperation)
    public $dialect.moft2lt($aMethod.type.name) ${aMethod.name}(#foreach($aParam in ${aMethod.ownedParameter})${aParam.type} ${aParam.name} #end) {
${dialect.getOperationBody($aMethod, "    ")}
    }
#end


    //========================================================================//

#foreach ($aProperty in $current.ownedAttribute)
    $dialect.mt2lt($aProperty.type)      ${aProperty.name};
#end



}