package  fr.insset.jeanluc.ete.gel;


import fr.insset.jeanluc.ete.meta.model.core.NamedElement;
import fr.insset.jeanluc.ete.meta.model.mofpackage.EteModel;



public interface ParserWrapper {

    /**
     * Reads a contextual expression, typically an expression which is embedded
     * in a model
     */
    public GenericExpression buildAbstractTree(String inExpression, EteModel inModel, NamedElement inContextElement);

    /**
     * Reads non contextual expressions, typically the content of a text file.
     */
    public void          readExpressions(String inExpressions, EteModel inoutModel);

}


