package ${dialect.getQualifiedName($current.package)};


#foreach ($aDependance in ${current.dependances})
import ${dialect.getQualifiedName($aDependance)};
#end
import java.util.LinkedList;
import java.util.List;
import javax.annotation.Generated;


/**
 * Custom constraint conforming to CDI.
 */
@Generated("ete - jean-luc@insset.fr  src/test/mda/templates/cdi-parameter-constraint.vm")

@Target({ FIELD, METHOD, PARAMETER, ANNOTATION_TYPE, TYPE_USE })
@Retention(RUNTIME)
@Constraint(validatedBy = ${current.name}Validator.class)
@Documented
@Repeatable(List.class)
public @Interface ${current.name} {

    String      message() default "";
    Class<?>[] groups() default { };
    Class<? extends Payload>[] payload() default { };


}


