/meta-model/nbproject/
/ete/meta-model/nbproject/
/ete/meta-model/target/
/ete/meta-model-impl/target/
/ete/meta-model-api/nbproject/
/ete/meta-model-api/target/
/ete/meta-model/meta-model-api/nbproject/
/ete/meta-model/meta-model-api/target/
/ete/meta-model/meta-model-impl/target/