package ${current.owningPackage.name}.jsf;


import ${current.owningPackage.name}.${current.name};
import fr.upjv.mis.ete.jsf.util.JsfUtil;
import fr.upjv.mis.ete.jsf.util.PaginationHelper;


#foreach ($aDependency in $current.allDependencies)
#if ($aDependency.hasStereotype("Entity"))
import ${aDependency.owningPackage.name}.model.${aDependency.name};
#else
import ${aDependency.owningPackage.name}.${aDependency.name};
#end
#end
#foreach ($aProperty in $current.support.keySet())
import ${aProperty.owningMofClass.owningPackage.name}.model.${aProperty.owningMofClass.name};
#end
#foreach ($aProperty in $current.ownedAttribute)
#if ($aProperty.composite)
import ${aProperty.type.recBaseType.owningPackage.name}.model.${aProperty.type.recBaseType.name};
#end
#end

import java.io.Serializable;
import java.util.ResourceBundle;
import javax.ejb.EJB;
import javax.inject.Named;
import javax.enterprise.context.ApplicationScoped;
import javax.faces.component.UIComponent;
import javax.faces.context.FacesContext;
import javax.faces.convert.Converter;
import javax.faces.convert.FacesConverter;
import javax.faces.model.DataModel;
import javax.faces.model.ListDataModel;
import javax.faces.model.SelectItem;

@Named("${dialect.i2lc($current.name)}Controller")
@ApplicationScoped
public class ${current.name}Controller implements Serializable {

    private ${current.name} current;
    private DataModel items = null;
#foreach ($aProperty in $current.ownedAttribute)
#if ($aProperty.composite && $aProperty.type.collection)
    private ${aProperty.type.recBaseType.name}  new${dialect.i2uc($aProperty.name)} = new ${aProperty.type.recBaseType.name}();
#end
#end
#foreach ($aMethod in $current.ownedOperation)
#foreach ($aParameter in $aMethod.ownedParameter)
    private ${dialect.mt2lt($aParameter.type)}  ${aMethod.name}${dialect.i2uc($aParameter.name)};
#end
#end



    //========================================================================//
    //                          C O M P O N E N T S                           //
    //========================================================================//


/*
#foreach ($aProperty in $current.ownedAttribute)
#if ($aProperty.composite && $aProperty.type.collection)
    public ${aProperty.type.recBaseType.name}  getNew${dialect.i2uc($aProperty.name)}() {
        return new${dialect.i2uc($aProperty.name)};
    }

    public void  setNew${dialect.i2uc($aProperty.name)}(${aProperty.type.recBaseType.name} inValue) {
        new${dialect.i2uc($aProperty.name)} = inValue;
    }

    public void addNew${dialect.i2uc($aProperty.name)}() {
        getSelected().get${dialect.i2uc($aProperty.name)}().add(new${dialect.i2uc($aProperty.name)});
        new${dialect.i2uc($aProperty.name)} = new ${aProperty.type.recBaseType.name}();
    }
#end
#end
*/


    //========================================================================//
    //                          O P E R A T I O N S                           //
    //========================================================================//


/*
#foreach ($aMethod in $current.ownedOperation)
    public void ${aMethod.name}() {
        try {
            getSelected().${aMethod.name}(#foreach ($aParameter in $aMethod.ownedParameter)
${aMethod.name}${dialect.i2uc($aParameter.name)}#if( $foreach.hasNext ), #end
#end
            );
            JsfUtil.addSuccessMessage(ResourceBundle.getBundle("/Bundle").getString("${current.name}Created"));
        }
        catch (Exception ex) {
            JsfUtil.addErrorMessage(ex, ResourceBundle.getBundle("/Bundle").getString("PersistenceErrorOccured"));
        }
    }

#foreach ($aParameter in $aMethod.ownedParameter)
    public ${dialect.mt2lt($aParameter.type)} get${aMethod.name}${dialect.i2uc($aParameter.name)}() {
        return ${aMethod.name}${dialect.i2uc($aParameter.name)};
    }

    public void set${aMethod.name}${dialect.i2uc($aParameter.name)}(${dialect.mt2lt($aParameter.type)} inValue) {
        ${aMethod.name}${dialect.i2uc($aParameter.name)} = inValue;
    }

#end

#end
*/


    //========================================================================//
    //       M O D E L S   F O R   T A B L E S   A N D   S E L E C T S        //
    //========================================================================//


    public SelectItem[] getItemsAvailableSelectMany() {
        SelectItem[]    result = new SelectItem[${current.name}.values().length];
#foreach ($aLiteral in $current.literal)
        // new SelectItem(${current.name}.${aLiteral.value()}, "${aLiteral.value()}");
#end
        for (int i=0 ; i<${current.name}.values().length ; i++) {
            result[i] = new SelectItem(${current.name}.values()[i], ${current.name}.values()[i].name());
        }
        return result;
    }

    public SelectItem[] getItemsAvailableSelectOne() {
        SelectItem[]    result = new SelectItem[${current.name}.values().length+1];
        result[0] = new SelectItem(null, "---");
        for (int i=0 ; i<${current.name}.values().length ; i++) {
            result[i+1] = new SelectItem(${current.name}.values()[i], ${current.name}.values()[i].name());
        }
        return result;
    }


#foreach ($aProperty in ${current.support.keySet()})
    public SelectItem[] getItemsAvailableAs${dialect.i2uc($aProperty.name)}For${aProperty.owningMofClass.name}SelectOne(${aProperty.owningMofClass.name} inFor) throws InstantiationException {
        return JsfUtil.getSelectItems(ejbFacade.getAll${current.name}As${dialect.i2uc($aProperty.name)}For${aProperty.owningMofClass.name}(inFor), true);
    }
#end


    //========================================================================//
    //                           C O N V E R T E R                            //
    //========================================================================//

/*
    @FacesConverter(forClass = ${current.name}.class)
    public static class ${current.name}ControllerConverter implements Converter {

        @Override
        public Object getAsObject(FacesContext facesContext, UIComponent component, String value) {
            if (value == null || value.length() == 0) {
                return null;
            }
            ${current.name}Controller controller = (${current.name}Controller) facesContext.getApplication().getELResolver().
                    getValue(facesContext.getELContext(), null, "${dialect.i2lc($current.name)}Controller");
            return controller.get${current.name}(getKey(value));
        }

        java.lang.Long getKey(String value) {
            java.lang.Long key;
            key = Long.valueOf(value);
            return key;
        }

        String getStringKey(java.lang.Long value) {
            StringBuilder sb = new StringBuilder();
            sb.append(value);
            return sb.toString();
        }

        @Override
        public String getAsString(FacesContext facesContext, UIComponent component, Object object) {
            if (object == null) {
                return null;
            }
            if (object instanceof ${current.name}) {
                ${current.name} o = (${current.name}) object;
                return getStringKey(o.getId());
            } else {
                throw new IllegalArgumentException("object " + object + " is of type " + object.getClass().getName() + "; expected type: " + ${current.name}.class.getName());
            }
        }

    }
*/

}

