package ${current.owningPackage};


#foreach ($aDependance in $current.dependances)
import ${dialect.getQualifiedName($aDependance)};
#end
import java.util.List;
import javax.annotation.Generated;


@Generated("jean-luc@insset.fr template : ete/src/main/mda/modules/from-spec/class2interface.vm")
public interface $current.name #if ($current.superClass && $current.superClass.size()>0) extends ${dialect.getQualifiedName($current.superClass.get(0))} #end {


    //========================================================================//


#foreach ($aProperty in $current.ownedAttribute)
#if($aProperty.name && $aProperty.type.name)
    public ${dialect.mt2lt($aProperty.type)} get${dialect.i2uc($aProperty.name)}();
    public void set${dialect.i2uc($aProperty.name)}(${dialect.mt2lt($aProperty.type)} inValue);
#if ($aProperty.isCollection())
    public void add${dialect.i2uc($aProperty.name)}(${dialect.mt2lt($aProperty.type)} inValue);
#end
#end
#end


}


