################################################################################
##                                                                            ##
## Generates a context for translating concrete syntax tree to abstract       ##
## syntax tree                                                                ##
##                                                                            ##
################################################################################
package fr.insset.jeanluc.ete.${dialect.i2lc($projectName)};

import javax.annotation.Generated;


/**
 * A context manages variables in a hierarchic architecture.
 *
 * @author jldeleage
 */
@Generated("ete - jean-luc@insset.fr  ete/src/main/mda/modules/language/context.vm")
public interface ${dialect.i2uc($projectName)}Context<T> {


    public final static String      ROOT    = "root",
                                    MODEL   = "model",
                                    SELF    = "self",
                                    CURRENT = "current",
                                    CONTEXT = "context",
                                    RESULT  = "result";

    /**
     * Looks for the value of <code>inString</code>
     */
    public T        resolve(String inString);
    /**
     * Adds a local variable
     */
//    public void     set${dialect.i2uc($projectName)}(String inString, T inValue);
    /**
     * Adds a local variable
     */
    public void     set(String inString, Object inValue);
    /**
     *  Removes a local variable
     */
    public void     remove(String inString);

    /**
     *
     */
    public void push();
    public void pop() ;


}


