<?xml version="1.0" encoding="UTF-8" ?>
#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:ete="http://xmlns.jcp.org/jsf/composite/ete"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Create New ${symbol_dollar}{aClass.name}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <ete:${symbol_dollar}{current.name}_form
                           selection="\#{${symbol_dollar}{dialect.i2lc(${symbol_dollar}current.name)}Controller.selected}"
/>
                <br />
                <h:commandLink action="\#{${symbol_dollar}{dialect.i2lc(${symbol_dollar}current.name)}Controller.create}" value="Save" />
                <br />
                <br />
                <h:commandLink action="\#{${symbol_dollar}{dialect.i2lc(${symbol_dollar}current.name)}Controller.prepareList}" value="Show All ${symbol_dollar}{current.name} Items" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="Index"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
