<?xml version="1.0" encoding="UTF-8" ?>
#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="List"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="(No ${symbol_dollar}{current.name} Items Found)" rendered="\#{${symbol_dollar}{dialect.i2lc(${symbol_dollar}current.name)}Controller.items.rowCount == 0}"/>
                <h:panelGroup rendered="\#{${symbol_dollar}{dialect.i2lc(${symbol_dollar}current.name)}Controller.items.rowCount > 0}">
                    <h:outputText value="\#{${symbol_dollar}{dialect.i2lc(${symbol_dollar}current.name)}Controller.pagination.pageFirstItem + 1}..\#{${symbol_dollar}{dialect.i2lc(${symbol_dollar}current.name)}Controller.pagination.pageLastItem + 1}/\#{${symbol_dollar}{dialect.i2lc(${symbol_dollar}current.name)}Controller.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="\#{${symbol_dollar}{dialect.i2lc(${symbol_dollar}current.name)}Controller.previous}" value="Previous \#{${symbol_dollar}{dialect.i2lc(${symbol_dollar}current.name)}Controller.pagination.pageSize}" rendered="\#{${symbol_dollar}{dialect.i2lc(${symbol_dollar}current.name)}Controller.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="\#{${symbol_dollar}{dialect.i2lc(${symbol_dollar}current.name)}Controller.next}" value="Next \#{${symbol_dollar}{dialect.i2lc(${symbol_dollar}current.name)}Controller.pagination.pageSize}" rendered="\#{${symbol_dollar}{dialect.i2lc(${symbol_dollar}current.name)}Controller.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="\#{${symbol_dollar}{dialect.i2lc(${symbol_dollar}current.name)}Controller.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
\#foreach (${symbol_dollar}aProperty in ${symbol_dollar}current.ownedAttribute)
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="${symbol_dollar}{aProperty.name}"/>
                            </f:facet>
                            <h:outputText value="\#{item.${symbol_dollar}{aProperty.name}"/>
                        </h:column>
\#end
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="\#{${symbol_dollar}{dialect.i2lc(${symbol_dollar}current.name)}Controller.prepareView}" value="View"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="\#{${symbol_dollar}{dialect.i2lc(${symbol_dollar}current.name)}Controller.prepareEdit}" value="Edit"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="\#{${symbol_dollar}{dialect.i2lc(${symbol_dollar}current.name)}Controller.destroy}" value="Destroy"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="\#{${symbol_dollar}{dialect.i2lc(${symbol_dollar}current.name)}Controller.prepareCreate}" value="Create New ${symbol_dollar}{current.name}"/>
                <br />
                <br />
                <h:link outcome="/index" value="Index"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>

