################################################################################
##                                                                            ##
## Fragment for TreeBuilder.vm                                                ##
##                                                                            ##
################################################################################
            ${dialect.i2uc($projectName)}Expression result = children.get(0).accept(this);
            for (int i=1 ; i<children.size() ; i++) {
                ${dialect.i2uc($projectName)}Expression next = children.get(i).accept(this);
                List<${dialect.i2uc($projectName)}Expression> operands = FactoryMethods.newList(${dialect.i2uc($projectName)}Expression.class);
                next.setOperand(operands);
                operands.add(0, result);
                result = next;
            }
            context.remove(CURRENT);
            return result;