#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ezcomp="http://xmlns.jcp.org/jsf/composite/ezcomp">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
${symbol_pound}foreach (${symbol_dollar}aClass in ${symbol_dollar}current.classes)
${symbol_pound}if (${symbol_dollar}aClass.hasStereotype("Entity"))
       <h:link outcome="/admin/${symbol_dollar}{aClass.name.toLowerCase()}/list" value="Show All ${symbol_dollar}{aClass.name} Items"/>
        <br />
${symbol_pound}end
${symbol_pound}end
    </h:body>

</html>


