#foreach ($aClass in $current.classes)
#if ($aClass.hasStereotype("Entity"))
#if ($aClass.name == "void")
#else
\#include "${aClass.name}.h"
#end
#end
#end
\#include <stdio.h>


int main(int nbArgs, char **args) {
    int     choice;
    do {
        scanf("%d", &choice);
    } while (choice != 0);
    return 0;
}

