################################################################################
##                                                                            ##
## Generates an abstract tree builder for any Expression Language             ##
## An instance of this class is a visitor for these Expressions. It takes any ##
## expression concrete tree and returns the matching abstract tree.           ##
##                                                                            ##
## Usage :                                                                    ##
##                                                                            ##
##  XxxParser             parser       = XxxParserFactory                     ##
##                                          .newParser(inExpression);         ##
##  XxxExpressionContext  ctx          = parser.xxxExpression();              ##
##  // a context "resolves" identifiers                                       ##
##  XxxContext<XxxExpression> context  = new XxxContextImpl(                  ##
##                                          theModel, theClass, theElement);  ##
##  TreeBuilder           treeBuilder  = new TreeBuilder(inContext);          ##
##  XxxExpression         expression   = treeBuilder.visitXxxExpression(ctx); ##
##                                                                            ##
##  All this stuff is encapsulated in the "buildAbstractTree" static method   ##
##  of the "ParserWrapper" class                                              ##
##                                                                            ##
##                                                                            ##
################################################################################
package fr.insset.jeanluc.ete.${dialect.i2lc($projectName)}.impl;



import fr.insset.jeanluc.ete.meta.model.emof.MofClass;
import fr.insset.jeanluc.ete.meta.model.emof.MofParameter;
import fr.insset.jeanluc.ete.meta.model.emof.MofProperty;
import fr.insset.jeanluc.ete.meta.model.mofpackage.MofPackage;
import fr.insset.jeanluc.ete.meta.model.mofpackage.PackageableElement;
import fr.insset.jeanluc.ete.meta.model.types.Classifier;
import fr.insset.jeanluc.ete.meta.model.types.MofType;
import fr.insset.jeanluc.ete.meta.model.types.TypedElement;
import fr.insset.jeanluc.ete.meta.model.types.collections.MofCollection;
import fr.insset.jeanluc.ete.${dialect.i2lc($projectName)}.${dialect.i2uc($projectName)}Parser;
import fr.insset.jeanluc.ete.${dialect.i2lc($projectName)}.${dialect.i2uc($projectName)}ParserBaseVisitor;
import fr.insset.jeanluc.ete.${dialect.i2lc($projectName)}.*;
import static fr.insset.jeanluc.ete.${dialect.i2lc($projectName)}.${dialect.i2uc($projectName)}Context.CURRENT;
import static fr.insset.jeanluc.ete.${dialect.i2lc($projectName)}.${dialect.i2uc($projectName)}Context.ROOT;
import fr.insset.jeanluc.ete.meta.model.emof.Feature;
import fr.insset.jeanluc.util.factory.FactoryMethods;
import fr.insset.jeanluc.util.factory.FactoryRegistry;
import java.time.LocalDate;
import java.time.format.DateTimeFormatter;
import java.util.HashMap;
import java.util.List;
import java.util.LinkedList;
import java.util.Map;
import java.util.Stack;
import java.util.logging.Level;
import java.util.logging.Logger;
import javax.annotation.Generated;
import org.antlr.v4.runtime.ParserRuleContext;
import org.antlr.v4.runtime.tree.ParseTree;
import org.antlr.v4.runtime.tree.RuleNode;
import fr.insset.jeanluc.ete.util.XList;



/**
 * An instance of this class is a visitor for ${dialect.i2uc($projectName)}Expressions. It takes a
 * ${dialect.i2uc($projectName)}Expression concrete tree and returns the matching abstract tree.
 *
 * Usage : <code><pre>
${dialect.i2uc($projectName)}Parser            parser             = ${dialect.i2uc($projectName)}ParserFactory.newParser(aString);
${dialect.i2uc($projectName)}ExpressionContext ctx                = parser.${dialect.i2lc($projectName)}Expression();
TreeBuilder          treeBuilder        = new TreeBuilder(inContext);
${dialect.i2uc($projectName)}Expression        abstractExpression = treeBuilder.visit${dialect.i2uc($projectName)}Expression(ctx);
</pre></code>
 *
 */
@Generated("ete - jean-luc@insset.fr  ete/src/main/mda/modules/language/tree-builder.vm")
public class TreeBuilder extends ${dialect.i2uc($projectName)}ParserBaseVisitor<${dialect.i2uc($projectName)}Expression> {


    public TreeBuilder(${dialect.i2uc($projectName)}Context inContext) {
        context = inContext;
        FactoryRegistry registry = FactoryRegistry.getRegistry();
#foreach($aClass in $current.classes)
#if (${aClass.getValueOf("literalType")})
        registry.registerDefaultFactory("${aClass.getValueOf("literalType")}", ${aClass.name}Impl.class);
#end
#end
#foreach($aClass in $current.classes)
#if (${aClass.getValueOf("symbol")})
#if (${aClass.hasStereotype("operation")})
        registry.registerDefaultFactory("${aClass.getValueOf("symbol")}", ${aClass.name}Impl.class);
#end
#end
#end
#foreach($aClass in $current.classes)
#if (${aClass.hasStereotype("collection_operation")})
        registry.registerDefaultFactory("${dialect.i2lc($aClass.name)}", ${aClass.name}Impl.class);
#end
#end
        registry.registerDefaultFactory(".",    AttributeNavImpl.class);
        registry.registerDefaultFactory(".att", AttributeNavImpl.class);
        registry.registerDefaultFactory(".op",  MethodNavImpl.class);
        registry.registerDefaultFactory("symbol",  SymbolImpl.class);
    }


    @Override
    public ${dialect.i2uc($projectName)}Expression visit${dialect.i2uc($projectName)}Expression(${dialect.i2uc($projectName)}Parser.${dialect.i2uc($projectName)}ExpressionContext ctx) {
        // Create a fresh stack frame for local variables
//        context.push();
        return super.visit${dialect.i2uc($projectName)}Expression(ctx);
    }


//============================================================================//
//                      G E N E R A T E D   M E T H O D S                     //
//============================================================================//


#foreach ($aClass in $current.classes)
#if ($aClass.getValueOf("literalType"))
    // LITERAL TYPE : ${aClass.getValueOf("literalType")}
    @Override
    public ${dialect.i2uc($projectName)}Expression visit${dialect.i2uc($aClass.name)}(${dialect.i2uc($projectName)}Parser.${dialect.i2uc($aClass.name)}Context ctx) {
        try {
            String text = ctx.getText();
            ${aClass.name} newInstance = (${aClass.name})FactoryRegistry.newInstance("${aClass.getValueOf("literalType")}");
            newInstance.setValueAsString(text);
            return newInstance;
        } catch (InstantiationException | IllegalAccessException ex) {
            throw new RuntimeException(ex);
        }
    }

#end
#end

//============================================================================//

#foreach ($aClass in $current.classes)
#if ($aClass.getValueOf("kind"))
#if ("true" == $aClass.getValueOf("noVisit"))
#else
#set ($kind = $aClass.getValueOf("kind"))
    @Override
    public ${dialect.i2uc($projectName)}Expression visit${aClass.name}Expression(${dialect.i2uc($projectName)}Parser.${aClass.name}ExpressionContext ctx) {
        List<ParseTree> children = ctx.children;
        if (children.size() == 1) {
            ${dialect.i2uc($projectName)}Expression result = children.get(0).accept(this);
#if ($kind == "navigation")
            context.remove(CURRENT);
#end
            return result;
        }
        try {
#set ($fragment = "fragments/" + $kind + ".vm")
#parse ($fragment)

        }
        catch (Exception ex) {
            throw new RuntimeException(ex);
        }
    }

#end
#end
#end



    //========================================================================//
    //                  H A R D   C O D E D   M E T H O D S                   //
    //========================================================================//


    //------------------------------------------------------------------------//
    // Rules for files                                                        //
    // A file defines contextual rules. This means that we must reset this    //
    // context several times during parsing                                   //
    //------------------------------------------------------------------------//


    //------------------------------------------------------------------------//
    //------------------------------------------------------------------------//

    @Override
    public GelExpression visitSelfExpression(GelParser.SelfExpressionContext ctx) {
        try {
            Self    result = (Self) FactoryRegistry.newInstance("self");
            result.setType(context.getContextType());
            context.set(CURRENT, result);
            return result;
        } catch (InstantiationException ex) {
            Logger.getLogger(TreeBuilder.class.getName()).log(Level.SEVERE, null, ex);
        } catch (IllegalAccessException ex) {
            Logger.getLogger(TreeBuilder.class.getName()).log(Level.SEVERE, null, ex);
        }
        return super.visitSelfExpression(ctx); //To change body of generated methods, choose Tools | Templates.
    }


    @Override
    public ${dialect.i2uc($projectName)}Expression visitAtPreExpression(${dialect.i2uc($projectName)}Parser.AtPreExpressionContext ctx) {
        try {
            AtPre   result = (AtPre) FactoryRegistry.newInstance("@pre");
            List<${dialect.i2uc($projectName)}Expression> operands = new XList<>();
//            operands.add(accept);
            result.setOperand(operands);
            return result;
        } catch (InstantiationException | IllegalAccessException ex) {
            Logger.getLogger(TreeBuilder.class.getName()).log(Level.SEVERE, null, ex);
            throw new RuntimeException("Exception visiting atPreExpression", ex);
        }
    }


    @Override
    public ${dialect.i2uc($projectName)}Expression visitVariableOrMemberAtPre(${dialect.i2uc($projectName)}Parser.VariableOrMemberAtPreContext ctx) {
        try {
            AtPre   result = (AtPre) FactoryRegistry.newInstance("@pre");
            Step accept = (Step)ctx.children.get(0).accept(this);
            List<${dialect.i2uc($projectName)}Expression> operands = new XList<>();
            operands.add(accept);
            result.setOperand(operands);
            Feature feature = accept.getToFeature();
            result.setToFeature(feature);
            result.setType(feature.getType());
            return result;
        } catch (InstantiationException | IllegalAccessException ex) {
            Logger.getLogger(TreeBuilder.class.getName()).log(Level.SEVERE, null, ex);
            throw new RuntimeException("Exception visiting atPreExpression", ex);
        }
    }


    @Override
    public ${dialect.i2uc($projectName)}Expression visitIdentifier(${dialect.i2uc($projectName)}Parser.IdentifierContext ctx) {
        try {
            String text = ctx.getText();
            Object resolve = context.resolve(text);
            return (GelExpression)resolve;
        } catch (InstantiationException ex) {
            Logger.getLogger(TreeBuilder.class.getName()).log(Level.SEVERE, null, ex);
        } catch (IllegalAccessException ex) {
            Logger.getLogger(TreeBuilder.class.getName()).log(Level.SEVERE, null, ex);
        }
        return null;
    }


    @Override
    public ${dialect.i2uc($projectName)}Expression visitParenthesisExpression(${dialect.i2uc($projectName)}Parser.ParenthesisExpressionContext ctx) {
        return ctx.children.get(1).accept(this);
    }


    @Override
    public ${dialect.i2uc($projectName)}Expression visitVariableOrMember(${dialect.i2uc($projectName)}Parser.VariableOrMemberContext ctx) {
        try {
            return (GelExpression)context.resolve(ctx.getText());
        } catch (InstantiationException ex) {
            Logger.getLogger(TreeBuilder.class.getName()).log(Level.SEVERE, null, ex);
        } catch (IllegalAccessException ex) {
            Logger.getLogger(TreeBuilder.class.getName()).log(Level.SEVERE, null, ex);
        }
        return null;
    }


    @Override
    public ${dialect.i2uc($projectName)}Expression visitAttributeNavExpression(${dialect.i2uc($projectName)}Parser.AttributeNavExpressionContext ctx) {
        try {
            List<ParseTree> children = ctx.children;
            ${dialect.i2uc($projectName)}Parser.IdentifierContext functionCall = (${dialect.i2uc($projectName)}Parser.IdentifierContext)children.get(1);
            String identifier = functionCall.getText();
            ${dialect.i2uc($projectName)}Expression result = context.resolve(identifier);
            List<${dialect.i2uc($projectName)}Expression>  operands = result.getOperand();
            // Parse the parameters of the call 
            // Warning : there are commas between parameters
            List<ParseTree>     functionChildren = functionCall.children;
            if (functionChildren.size() > 2) {
                ${dialect.i2uc($projectName)}Parser.ParameterListContext parameterList = (${dialect.i2uc($projectName)}Parser.ParameterListContext) functionChildren.get(2);
                List<ParseTree> parameters = parameterList.children;
                for (int i=0 ; i<parameters.size() ; i += 2) {
                    ${dialect.i2uc($projectName)}Expression aParameter = parameters.get(i).accept(this);
                    operands.add(aParameter);
                }
            }
            return result;
        }
        catch (Exception ex) {
            throw new RuntimeException(ex);
        }
    }


    @Override
    public ${dialect.i2uc($projectName)}Expression visitMethodNavExpression(${dialect.i2uc($projectName)}Parser.MethodNavExpressionContext ctx) {
        List<ParseTree> children = ctx.children;
        if (children.size() == 1) {
            return children.get(0).accept(this);
        }
        try {
            ${dialect.i2uc($projectName)}Parser.FunctionCallContext functionCall = (${dialect.i2uc($projectName)}Parser.FunctionCallContext)children.get(1);
            String functionIdentifier = functionCall.children.get(0).getText();
            MofType   current = (MofType)context.resolveVariable(CURRENT);
            ${dialect.i2uc($projectName)}Expression result = context.resolveOperation(functionIdentifier, current);
            List<${dialect.i2uc($projectName)}Expression>  operands = FactoryMethods.newList(${dialect.i2uc($projectName)}Expression.class);
            result.setOperand(operands);
            // Todo : parse the parameters of the call
            return result;
        }
        catch (Exception ex) {
            throw new RuntimeException(ex);
        }
    }


    @Override
    public ${dialect.i2uc($projectName)}Expression visitCollectionMethodNavExpression(${dialect.i2uc($projectName)}Parser.CollectionMethodNavExpressionContext ctx) {
        List<ParseTree> children = ctx.children;
        if (children.size() == 1) {
            // With the current version of the grammar this should never
            // happend
            return children.get(0).accept(this);
        }
        try {
            Collect  current = (Collect) context.get(CURRENT);
            Feature toFeature = current.getToFeature();
            context.set(ROOT, toFeature);
            ${dialect.i2uc($projectName)}Parser.FunctionCallContext functionCall = (${dialect.i2uc($projectName)}Parser.FunctionCallContext)children.get(1);
            String functionIdentifier = functionCall.children.get(0).getText();
            ${dialect.i2uc($projectName)}Expression result = context.resolveCollOp(functionIdentifier);
            List<${dialect.i2uc($projectName)}Expression>  operands = FactoryMethods.newList(${dialect.i2uc($projectName)}Expression.class);
            result.setOperand(operands);
            // Parse the parameters of the call
            List<ParseTree>     functionChildren = functionCall.children;
            if (functionChildren.size() > 2) {
                // In the current grammar a function call has always 4 children
                // The third one is the parameter list
                ${dialect.i2uc($projectName)}Parser.ParameterListContext parameterList = (${dialect.i2uc($projectName)}Parser.ParameterListContext) functionChildren.get(2);
                List<ParseTree> parameters = parameterList.children;
                if (parameters != null) {
                    context.push();
                    context.set(CURRENT, context.get(CURRENT));
                    for (int i=0 ; i<parameters.size() ; i += 2) {
                        ${dialect.i2uc($projectName)}Expression aParameter = parameters.get(i).accept(this);
                        operands.add(aParameter);
                    }
                    context.pop();
                }
            }
            return result;
        }
        catch (Exception ex) {
            throw new RuntimeException(ex);
        }
    }


    @Override
    public GelExpression visitOclIsNew(GelParser.OclIsNewContext ctx) {
        return context.resolveIsNew();
    }


    //========================================================================//


    ${dialect.i2uc($projectName)}Context<${dialect.i2uc($projectName)}Expression>   context;


}

