                    <h:selectOneMenu value="#{${symbol_dollar}{scope}${symbol_dollar}{varName}}">
                        <f:selectItems value="#{${symbol_dollar}{dialect.i2lc(${symbol_dollar}aProperty.type.name)}Controller.getItemsAvailableAs${symbol_dollar}{dialect.i2uc(${symbol_dollar}aProperty.name)}For${symbol_dollar}{aProperty.owningMofClass.name}SelectOne(${symbol_dollar}{dialect.i2lc(${symbol_dollar}current.name)}Controller.selected)}"/>
                        <f:ajax ${symbol_pound}if(${symbol_dollar}dp)render="${symbol_dollar}{dp}"${symbol_pound}end/>
                    </h:selectOneMenu>
