package ${current.owningPackage.name}.jsf;


import ${current.owningPackage.name}.model.${current.name};
import fr.insset.jeanluc.ete.jsf.util.JsfUtil;
import fr.insset.jeanluc.ete.jsf.util.PaginationHelper;
import ${current.owningPackage.name}.jpa.${current.name}Jpa;

#foreach ($aDependance in $current.dependances)
import ${aDependance.owningPackage.name}.model.${aDependance.name};
#end

import java.io.Serializable;
import java.util.ResourceBundle;
import javax.ejb.EJB;
import javax.inject.Named;
import javax.enterprise.context.SessionScoped;
import javax.faces.component.UIComponent;
import javax.faces.context.FacesContext;
import javax.faces.convert.Converter;
import javax.faces.convert.FacesConverter;
import javax.faces.model.DataModel;
import javax.faces.model.ListDataModel;
import javax.faces.model.SelectItem;

// @Named("${dialect.i2lc($current.name)}Controller")
// @SessionScoped
public class ${current.name}Controller implements Serializable {

    private ${current.name} current;
    private DataModel items = null;
    @EJB
    private ${current.name}Jpa ejbFacade;
    private PaginationHelper pagination;
    private int selectedItemIndex;
#foreach ($aMethod in $current.ownedOperation)
#foreach ($aParameter in $aMethod.ownedParameter)
    private ${dialect.mt2lt($aParameter.type)}  ${aMethod.name}${dialect.i2uc($aParameter.name)};
#end
#end


    //========================================================================//


    public ${current.name}Controller() {
    }

    public ${current.name} getSelected() {
        if (current == null) {
            current = new ${current.name}();
            selectedItemIndex = -1;
        }
        return current;
    }

    private ${current.name}Jpa getFacade() {
        return ejbFacade;
    }

    //========================================================================//
    //                          P A G I N A T I O N                           //
    //========================================================================//



    public PaginationHelper getPagination() {
        if (pagination == null) {
            pagination = new PaginationHelper(10) {

                @Override
                public int getItemsCount() {
                    return getFacade().count();
                }

                @Override
                public DataModel createPageDataModel() {
                    return new ListDataModel(getFacade().findRange(new int[]{getPageFirstItem(), getPageFirstItem() + getPageSize()}));
                }
            };
        }
        return pagination;
    }

    private void recreatePagination() {
        pagination = null;
    }

    public String next() {
        getPagination().nextPage();
        recreateModel();
        return "list";
    }

    public String previous() {
        getPagination().previousPage();
        recreateModel();
        return "list";
    }

    //========================================================================//
    //                          O P E R A T I O N S                           //
    //========================================================================//


#foreach ($aMethod in $current.ownedOperation)
    public void ${aMethod.name}() {
        try {
            getSelected().${aMethod.name}(#foreach ($aParameter in $aMethod.ownedParameter)
${aMethod.name}${dialect.i2uc($aParameter.name)}#if( $foreach.hasNext ), #end
#end
            );
            JsfUtil.addSuccessMessage(ResourceBundle.getBundle("/Bundle").getString("${current.name}Created"));
        }
        catch (Exception ex) {
            JsfUtil.addErrorMessage(ex, ResourceBundle.getBundle("/Bundle").getString("PersistenceErrorOccured"));
        }
    }

#foreach ($aParameter in $aMethod.ownedParameter)
    public ${dialect.mt2lt($aParameter.type)} get${aMethod.name}${dialect.i2uc($aParameter.name)}() {
        return ${aMethod.name}${dialect.i2uc($aParameter.name)};
    }

    public void set${aMethod.name}${dialect.i2uc($aParameter.name)}(${dialect.mt2lt($aParameter.type)} inValue) {
        ${aMethod.name}${dialect.i2uc($aParameter.name)} = inValue;
    }

#end

#end


    //========================================================================//
    //        N A V I G A T I O N   W I T H I N   C R U D   P A G E S         //
    //========================================================================//


    public String prepareList() {
        recreateModel();
        return "list";
    }

    public String prepareView() {
        current = (${current.name}) getItems().getRowData();
        selectedItemIndex = pagination.getPageFirstItem() + getItems().getRowIndex();
        return "view";
    }

    public String prepareCreate() {
        current = new ${current.name}();
        selectedItemIndex = -1;
        return "create";
    }

    public String create() {
        try {
            getFacade().create(current);
            JsfUtil.addSuccessMessage(ResourceBundle.getBundle("/Bundle").getString("${current.name}Created"));
            return prepareCreate();
        } catch (Exception e) {
            JsfUtil.addErrorMessage(e, ResourceBundle.getBundle("/Bundle").getString("PersistenceErrorOccured"));
            return null;
        }
    }

    public String prepareEdit() {
        current = (${current.name}) getItems().getRowData();
        selectedItemIndex = pagination.getPageFirstItem() + getItems().getRowIndex();
        return "edit";
    }

    public String update() {
        try {
            getFacade().edit(current);
            JsfUtil.addSuccessMessage(ResourceBundle.getBundle("/Bundle").getString("${current.name}Updated"));
            return "view";
        } catch (Exception e) {
            JsfUtil.addErrorMessage(e, ResourceBundle.getBundle("/Bundle").getString("PersistenceErrorOccured"));
            return null;
        }
    }

    public String destroy() {
        current = (${current.name}) getItems().getRowData();
        selectedItemIndex = pagination.getPageFirstItem() + getItems().getRowIndex();
        performDestroy();
        recreatePagination();
        recreateModel();
        return "list";
    }

    public String destroyAndView() {
        performDestroy();
        recreateModel();
        updateCurrentItem();
        if (selectedItemIndex >= 0) {
            return "view";
        } else {
            // all items were removed - go back to list
            recreateModel();
            return "list";
        }
    }

    private void performDestroy() {
        try {
            getFacade().remove(current);
            JsfUtil.addSuccessMessage(ResourceBundle.getBundle("/Bundle").getString("${current.name}Deleted"));
        } catch (Exception e) {
            JsfUtil.addErrorMessage(e, ResourceBundle.getBundle("/Bundle").getString("PersistenceErrorOccured"));
        }
    }

    private void updateCurrentItem() {
        int count = getFacade().count();
        if (selectedItemIndex >= count) {
            // selected index cannot be bigger than number of items:
            selectedItemIndex = count - 1;
            // go to previous page if last page disappeared:
            if (pagination.getPageFirstItem() >= count) {
                pagination.previousPage();
            }
        }
        if (selectedItemIndex >= 0) {
            current = getFacade().findRange(new int[]{selectedItemIndex, selectedItemIndex + 1}).get(0);
        }
    }


    //========================================================================//
    //       M O D E L S   F O R   T A B L E S   A N D   S E L E C T S        //
    //========================================================================//


    public DataModel getItems() {
        if (items == null) {
            items = getPagination().createPageDataModel();
        }
        return items;
    }

    private void recreateModel() {
        items = null;
    }

    public SelectItem[] getItemsAvailableSelectMany() {
        return JsfUtil.getSelectItems(ejbFacade.findAll(), false);
    }

    public SelectItem[] getItemsAvailableSelectOne() {
        return JsfUtil.getSelectItems(ejbFacade.findAll(), true);
    }

    public ${current.name} get${current.name}(java.lang.Long id) {
        return ejbFacade.find(id);
    }


    //========================================================================//
    //                           C O N V E R T E R                            //
    //========================================================================//


    @FacesConverter(forClass = ${current.name}.class)
    public static class ${current.name}ControllerConverter implements Converter {

        @Override
        public Object getAsObject(FacesContext facesContext, UIComponent component, String value) {
            if (value == null || value.length() == 0) {
                return null;
            }
            ${current.name}Controller controller = (${current.name}Controller) facesContext.getApplication().getELResolver().
                    getValue(facesContext.getELContext(), null, "addressController");
            return controller.get${current.name}(getKey(value));
        }

        java.lang.Long getKey(String value) {
            java.lang.Long key;
            key = Long.valueOf(value);
            return key;
        }

        String getStringKey(java.lang.Long value) {
            StringBuilder sb = new StringBuilder();
            sb.append(value);
            return sb.toString();
        }

        @Override
        public String getAsString(FacesContext facesContext, UIComponent component, Object object) {
            if (object == null) {
                return null;
            }
            if (object instanceof ${current.name}) {
                ${current.name} o = (${current.name}) object;
                return getStringKey(o.getId());
            } else {
                throw new IllegalArgumentException("object " + object + " is of type " + object.getClass().getName() + "; expected type: " + ${current.name}.class.getName());
            }
        }

    }

}

