#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
                    <h:inputText id="${symbol_dollar}{var.name}" value="${symbol_pound}{${symbol_dollar}{scope}${symbol_dollar}{varName}}" title="${symbol_pound}{bundle.Create${symbol_dollar}{current.name}Title_street}">
                        <f:ajax render="@form"/>
                    </h:inputText>
