#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
package ${symbol_dollar}{current.owningPackage.name}.jsf;


import ${symbol_dollar}{current.owningPackage.name}.model.${symbol_dollar}{current.name};
import fr.insset.jeanluc.ete.jsf.util.JsfUtil;
import fr.insset.jeanluc.ete.jsf.util.PaginationHelper;
import ${symbol_dollar}{current.owningPackage.name}.jpa.${symbol_dollar}{current.name}Jpa;

\#foreach (${symbol_dollar}aDependance in ${symbol_dollar}current.dependances)
import ${symbol_dollar}{aDependance.owningPackage.name}.model.${symbol_dollar}{aDependance.name};
\#end

import java.io.Serializable;
import java.util.ResourceBundle;
import javax.ejb.EJB;
import javax.inject.Named;
import javax.enterprise.context.SessionScoped;
import javax.faces.component.UIComponent;
import javax.faces.context.FacesContext;
import javax.faces.convert.Converter;
import javax.faces.convert.FacesConverter;
import javax.faces.model.DataModel;
import javax.faces.model.ListDataModel;
import javax.faces.model.SelectItem;

// @Named("${symbol_dollar}{dialect.i2lc(${symbol_dollar}current.name)}Controller")
// @SessionScoped
public class ${symbol_dollar}{current.name}Controller implements Serializable {

    private ${symbol_dollar}{current.name} current;
    private DataModel items = null;
    @EJB
    private ${symbol_dollar}{current.name}Jpa ejbFacade;
    private PaginationHelper pagination;
    private int selectedItemIndex;
\#foreach (${symbol_dollar}aMethod in ${symbol_dollar}current.ownedOperation)
\#foreach (${symbol_dollar}aParameter in ${symbol_dollar}aMethod.ownedParameter)
    private ${symbol_dollar}{dialect.mt2lt(${symbol_dollar}aParameter.type)}  ${symbol_dollar}{aMethod.name}${symbol_dollar}{dialect.i2uc(${symbol_dollar}aParameter.name)};
\#end
\#end


    //========================================================================//


    public ${symbol_dollar}{current.name}Controller() {
    }

    public ${symbol_dollar}{current.name} getSelected() {
        if (current == null) {
            current = new ${symbol_dollar}{current.name}();
            selectedItemIndex = -1;
        }
        return current;
    }

    private ${symbol_dollar}{current.name}Jpa getFacade() {
        return ejbFacade;
    }

    //========================================================================//
    //                          P A G I N A T I O N                           //
    //========================================================================//



    public PaginationHelper getPagination() {
        if (pagination == null) {
            pagination = new PaginationHelper(10) {

                @Override
                public int getItemsCount() {
                    return getFacade().count();
                }

                @Override
                public DataModel createPageDataModel() {
                    return new ListDataModel(getFacade().findRange(new int[]{getPageFirstItem(), getPageFirstItem() + getPageSize()}));
                }
            };
        }
        return pagination;
    }

    private void recreatePagination() {
        pagination = null;
    }

    public String next() {
        getPagination().nextPage();
        recreateModel();
        return "list";
    }

    public String previous() {
        getPagination().previousPage();
        recreateModel();
        return "list";
    }

    //========================================================================//
    //                          O P E R A T I O N S                           //
    //========================================================================//


\#foreach (${symbol_dollar}aMethod in ${symbol_dollar}current.ownedOperation)
    public void ${symbol_dollar}{aMethod.name}() {
        try {
            getSelected().${symbol_dollar}{aMethod.name}(\#foreach (${symbol_dollar}aParameter in ${symbol_dollar}aMethod.ownedParameter)
${symbol_dollar}{aMethod.name}${symbol_dollar}{dialect.i2uc(${symbol_dollar}aParameter.name)}\#if( ${symbol_dollar}foreach.hasNext ), \#end
\#end
            );
            JsfUtil.addSuccessMessage(ResourceBundle.getBundle("/Bundle").getString("${symbol_dollar}{current.name}Created"));
        }
        catch (Exception ex) {
            JsfUtil.addErrorMessage(ex, ResourceBundle.getBundle("/Bundle").getString("PersistenceErrorOccured"));
        }
    }

\#foreach (${symbol_dollar}aParameter in ${symbol_dollar}aMethod.ownedParameter)
    public ${symbol_dollar}{dialect.mt2lt(${symbol_dollar}aParameter.type)} get${symbol_dollar}{aMethod.name}${symbol_dollar}{dialect.i2uc(${symbol_dollar}aParameter.name)}() {
        return ${symbol_dollar}{aMethod.name}${symbol_dollar}{dialect.i2uc(${symbol_dollar}aParameter.name)};
    }

    public void set${symbol_dollar}{aMethod.name}${symbol_dollar}{dialect.i2uc(${symbol_dollar}aParameter.name)}(${symbol_dollar}{dialect.mt2lt(${symbol_dollar}aParameter.type)} inValue) {
        ${symbol_dollar}{aMethod.name}${symbol_dollar}{dialect.i2uc(${symbol_dollar}aParameter.name)} = inValue;
    }

\#end

\#end


    //========================================================================//
    //        N A V I G A T I O N   W I T H I N   C R U D   P A G E S         //
    //========================================================================//


    public String prepareList() {
        recreateModel();
        return "list";
    }

    public String prepareView() {
        current = (${symbol_dollar}{current.name}) getItems().getRowData();
        selectedItemIndex = pagination.getPageFirstItem() + getItems().getRowIndex();
        return "view";
    }

    public String prepareCreate() {
        current = new ${symbol_dollar}{current.name}();
        selectedItemIndex = -1;
        return "create";
    }

    public String create() {
        try {
            getFacade().create(current);
            JsfUtil.addSuccessMessage(ResourceBundle.getBundle("/Bundle").getString("${symbol_dollar}{current.name}Created"));
            return prepareCreate();
        } catch (Exception e) {
            JsfUtil.addErrorMessage(e, ResourceBundle.getBundle("/Bundle").getString("PersistenceErrorOccured"));
            return null;
        }
    }

    public String prepareEdit() {
        current = (${symbol_dollar}{current.name}) getItems().getRowData();
        selectedItemIndex = pagination.getPageFirstItem() + getItems().getRowIndex();
        return "edit";
    }

    public String update() {
        try {
            getFacade().edit(current);
            JsfUtil.addSuccessMessage(ResourceBundle.getBundle("/Bundle").getString("${symbol_dollar}{current.name}Updated"));
            return "view";
        } catch (Exception e) {
            JsfUtil.addErrorMessage(e, ResourceBundle.getBundle("/Bundle").getString("PersistenceErrorOccured"));
            return null;
        }
    }

    public String destroy() {
        current = (${symbol_dollar}{current.name}) getItems().getRowData();
        selectedItemIndex = pagination.getPageFirstItem() + getItems().getRowIndex();
        performDestroy();
        recreatePagination();
        recreateModel();
        return "list";
    }

    public String destroyAndView() {
        performDestroy();
        recreateModel();
        updateCurrentItem();
        if (selectedItemIndex >= 0) {
            return "view";
        } else {
            // all items were removed - go back to list
            recreateModel();
            return "list";
        }
    }

    private void performDestroy() {
        try {
            getFacade().remove(current);
            JsfUtil.addSuccessMessage(ResourceBundle.getBundle("/Bundle").getString("${symbol_dollar}{current.name}Deleted"));
        } catch (Exception e) {
            JsfUtil.addErrorMessage(e, ResourceBundle.getBundle("/Bundle").getString("PersistenceErrorOccured"));
        }
    }

    private void updateCurrentItem() {
        int count = getFacade().count();
        if (selectedItemIndex >= count) {
            // selected index cannot be bigger than number of items:
            selectedItemIndex = count - 1;
            // go to previous page if last page disappeared:
            if (pagination.getPageFirstItem() >= count) {
                pagination.previousPage();
            }
        }
        if (selectedItemIndex >= 0) {
            current = getFacade().findRange(new int[]{selectedItemIndex, selectedItemIndex + 1}).get(0);
        }
    }


    //========================================================================//
    //       M O D E L S   F O R   T A B L E S   A N D   S E L E C T S        //
    //========================================================================//


    public DataModel getItems() {
        if (items == null) {
            items = getPagination().createPageDataModel();
        }
        return items;
    }

    private void recreateModel() {
        items = null;
    }

    public SelectItem[] getItemsAvailableSelectMany() {
        return JsfUtil.getSelectItems(ejbFacade.findAll(), false);
    }

    public SelectItem[] getItemsAvailableSelectOne() {
        return JsfUtil.getSelectItems(ejbFacade.findAll(), true);
    }

    public ${symbol_dollar}{current.name} get${symbol_dollar}{current.name}(java.lang.Long id) {
        return ejbFacade.find(id);
    }


    //========================================================================//
    //                           C O N V E R T E R                            //
    //========================================================================//


    @FacesConverter(forClass = ${symbol_dollar}{current.name}.class)
    public static class ${symbol_dollar}{current.name}ControllerConverter implements Converter {

        @Override
        public Object getAsObject(FacesContext facesContext, UIComponent component, String value) {
            if (value == null || value.length() == 0) {
                return null;
            }
            ${symbol_dollar}{current.name}Controller controller = (${symbol_dollar}{current.name}Controller) facesContext.getApplication().getELResolver().
                    getValue(facesContext.getELContext(), null, "addressController");
            return controller.get${symbol_dollar}{current.name}(getKey(value));
        }

        java.lang.Long getKey(String value) {
            java.lang.Long key;
            key = Long.valueOf(value);
            return key;
        }

        String getStringKey(java.lang.Long value) {
            StringBuilder sb = new StringBuilder();
            sb.append(value);
            return sb.toString();
        }

        @Override
        public String getAsString(FacesContext facesContext, UIComponent component, Object object) {
            if (object == null) {
                return null;
            }
            if (object instanceof ${symbol_dollar}{current.name}) {
                ${symbol_dollar}{current.name} o = (${symbol_dollar}{current.name}) object;
                return getStringKey(o.getId());
            } else {
                throw new IllegalArgumentException("object " + object + " is of type " + object.getClass().getName() + "; expected type: " + ${symbol_dollar}{current.name}.class.getName());
            }
        }

    }

}

