<?xml version='1.0' encoding='UTF-8'?>
<faces-config version="2.2"
              xmlns="http://xmlns.jcp.org/xml/ns/javaee"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-facesconfig_2_2.xsd">
#foreach ($aClass in $current.classes)
#if ($aClass.hasStereotype("Entity"))
    <managed-bean>
        <managed-bean-name>${dialect.i2lc($aClass.name)}Controller</managed-bean-name>
        <managed-bean-class>${aClass.owningPackage}.jsf.${aClass.name}Controller</managed-bean-class>
        <managed-bean-scope>session</managed-bean-scope>
    </managed-bean>
#end
#end
    
    <application>
        <resource-bundle>
            <base-name>/Bundle</base-name>
            <var>bundle</var>
        </resource-bundle>
    </application>

</faces-config>

