<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:panelGrid columns="2">
#foreach ($aProperty in $current.ownedParameter)
#set ($isParameter="true")
#set ($var = $aProperty)
#set ($varName = $dialect.i2uc($aProperty.name))
#set ($scope = "" + $dialect.i2lc($current.owningMofClass.name) + "Controller." + ${current.name})
#set ($title = $current.owningMofClass.name + $dialect.i2uc($current.name))
#parse ("controls/polymorphism.vm")
#end
        </h:panelGrid>
        <h:commandButton action="#{${dialect.i2lc($current.owningMofClass.name)}Controller.${current.name}}"
                         value="${current.name}"/>
    </cc:implementation>
</html>

