                    <h:inputText id="${var.name}" value="#{${scope}${varName}}" title="#{bundle.Create${current.name}Title_street}">
                        <f:convertDateTime pattern="dd/MM/yy"/>
                        <f:ajax #if ($dep.size()>0)render="#foreach($aVariable in $dep)${aVariable.name} #end"#end/>
                    </h:inputText>
