                    <h:selectOneMenu value="#{${scope}${varName}}" id="${varName}">
                        <f:selectItems value="#{${dialect.i2lc($aProperty.type.name)}Controller.getItemsAvailableAs${dialect.i2uc($aProperty.name)}For${aProperty.owningMofClass.name}SelectOne(${dialect.i2lc($current.name)}Controller.selected)}"/>
                        <f:ajax #if ($dep.size()>0)render="#foreach($aVariable in $dep)${aVariable.name} #end"#end/>
                    </h:selectOneMenu>
