                     <ete:${var.type.name}_form xmlns:ete="http://xmlns.jcp.org/jsf/composite/ete"
                           selection="#{${dialect.i2lc($current.name)}Controller.selected.${varName}}"/>
