package ${aClass.owningPackage.name}.jpa;


import fr.insset.jeanluc.airways.jpa.AbstractJpa;
import ${aClass.package.name}.model.*;
import java.io.Serializable;
import java.util.List;
import javax.ejb.Stateless;
import javax.persistence.EntityManager;
#if ($javase)
import javax.persistence.EntityManagerFactory;
import javax.persistence.Persistence;
#end
import javax.persistence.PersistenceContext;
import javax.persistence.TypedQuery;
import javax.persistence.criteria.CriteriaBuilder;
import javax.persistence.criteria.CriteriaQuery;
import javax.persistence.criteria.Join;
import javax.persistence.criteria.ParameterExpression;
import javax.persistence.criteria.Path;
import javax.persistence.criteria.Root;



/**
 *
 * @author jldeleage
 */
@Stateless
public class ${aClass.name}Jpa extends AbstractJpa<${aClass.name}> {

#if ($javase)
    private EntityManagerFactory factory;
#else
    @PersistenceContext(unitName = "${pu}")
#end
    private EntityManager em;

    @Override
    protected EntityManager getEntityManager() {
#if ($javase)
        if (factory == null) {
            factory = Persistence.createEntityManagerFactory("${pu}");
        }
        if (em == null) {
            em = factory.createEntityManager();
        }
#end
        return em;
    }

    public ${aClass.name}Jpa() {
        super(${aClass.name}.class);
    }

#foreach ($aProperty in $aClass.ownedAttribute)
#if ($dialect.isEntity($aProperty.type))
    public List<$aProperty.type> findAll${dialect.i2uc($aProperty.name)}For($aClass.name item) {
        javax.persistence.criteria.CriteriaQuery cq = getEntityManager().getCriteriaBuilder().createQuery();
        cq.select(cq.from(${aProperty.type.name}.class));
        // we must now add all constraints to the request
        // now we can build the query
        TypedQuery query = getEntityManager().createQuery(cq);
        // we must set the parameters
        // finally we can fetch the data and return the result
        return query.getResultList();
    }
#end
#end

}
