################################################################################
##                                                                            ##
## Fragment for TreeBuilder.vm                                                ##
##                                                                            ##
################################################################################
            ${dialect.i2uc($projectName)}Expression left = children.get(0).accept(this);
            ${dialect.i2uc($projectName)}Expression right = children.get(2).accept(this);
            $aClass result = ($aClass)FactoryRegistry.getRegistry().getFactory("${aClass.getValueOf("symbol")}").newInstance();
            List<${dialect.i2uc($projectName)}Expression>  operands = FactoryMethods.newList(${dialect.i2uc($projectName)}Expression.class);
            operands.add(left);
            operands.add(right);
            result.setOperand(operands);
            return result;