################################################################################
##                                                                            ##
## Fragment for TreeBuilder.vm                                                ##
##                                                                            ##
################################################################################
## We could have turned this into a method instead of generating all this     ##
## stuff each time                                                            ##
################################################################################
            GelExpression   result = children.get(0).accept(this);
            int     index = 1;
            while (index < children.size()) {
                List<GelExpression>  operands = FactoryMethods.newList(GelExpression.class);
                operands.add(result);
                result = (GelExpression) FactoryRegistry.getRegistry().getFactory(children.get(index++).getText()).newInstance();
                GelExpression right = children.get(index++).accept(this);
                operands.add(right);
                result.setOperand(operands);
            }
            return result;