################################################################################
##                                                                            ##
## Fragment for TreeBuilder.vm                                                ##
##                                                                            ##
################################################################################
## We could have turned this into a method instead of generating all this     ##
## stuff each time                                                            ##
################################################################################
            ${dialect.i2uc($projectName)}Expression   result = children.get(0).accept(this);
            int     index = 1;
            while (index < children.size()) {
                List<${dialect.i2uc($projectName)}Expression>  operands = FactoryMethods.newList(${dialect.i2uc($projectName)}Expression.class);
                operands.add(result);
                result = (${dialect.i2uc($projectName)}Expression) FactoryRegistry.getRegistry().getFactory(children.get(index++).getText()).newInstance();
                ${dialect.i2uc($projectName)}Expression right = children.get(index++).accept(this);
                operands.add(right);
                result.setOperand(operands);
            }
            return result;