################################################################################
##                                                                            ##
## Fragment for TreeBuilder.vm                                                ##
##                                                                            ##
################################################################################
            GelExpressionExpression result = children.get(0).accept(this);
            for (int i=1 ; i<children.size() ; i++) {
                GelExpressionExpression next = children.get(i).accept(this);
                List<GelExpressionExpression> operands = next.getOperand();
//              FactoryMethods.newList(GelExpressionExpression.class);
//                next.setOperand(operands);
                operands.add(0, result);
                result = next;
            }
            context.remove(CURRENT);
            return result;