################################################################################
##                                                                            ##
## Fragment for TreeBuilder.vm                                                ##
##                                                                            ##
################################################################################
            $aClass result = ($aClass)FactoryRegistry.getRegistry().getFactory("${aClass.getValueOf("symbol")}").newInstance();
            GelExpressionExpression right = children.get(1).accept(this);
            List<GelExpressionExpression>  operands = FactoryMethods.newList(GelExpressionExpression.class);
            operands.add(right);
            result.setOperand(operands);
            return result;