################################################################################
##                                                                            ##
## Fragment for TreeBuilder.vm                                                ##
##                                                                            ##
################################################################################
## We could have turned this into a method instead of generating all this     ##
## stuff each time                                                            ##
################################################################################
            String text = children.get(1).getText();
            GelExpressionExpression result = (GelExpressionExpression) context.resolve(text);
            return result;