<?xml version='1.0' encoding='UTF-8' ?>
#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ezcomp="http://xmlns.jcp.org/jsf/composite/ezcomp">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
\#foreach (${symbol_dollar}aClass in ${symbol_dollar}current.classes.filter(c -> c.hasStereotype("Entity")))
        <h:link outcome="/admin/${symbol_dollar}{dialect.i2lc(${symbol_dollar}aClass.name)}/List" value="Show All ${symbol_dollar}{aClass.name} Items"/>
        <br />
\#end
    </h:body>


</html>


