import React from "react";
import "./List.css";

function ${current.name}(props) {
    return (<div className="list">
        <span>{props.designation}</span>
    </div>);
}

export default ${current.name};